@use "../themes/variables" as v;

.product-list-container{
    h2 {
        font-size: 2.5rem;
        font-family: v.$font-bold;
        margin-bottom: 1.5rem;
        margin-left: 5px;
    }
}
.products-list{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

// 