@use "../themes/variables" as v;


body{
    font-family: v.$font-regular;
    background-color: v.$rose-50;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 5rem;
    padding-inline-start: 7rem;
}


@media (max-width: 1200px) {
    main {
    padding-inline-start: 2rem;
        
    }
}