@use "../themes/variables" as v;


body{
    font-family: v.$font-regular;
    background-color: v.$rose-50;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 5rem;
    padding-inline-start: 7rem;
}

.custom-dinam-title{
    padding: .5rem;
    margin-bottom: .5rem;
    color: v.$red;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: v.$font-bold;
}
.custom-hr {
    width: 100%;
    height: 1px;
    color: v.$rose-300;
    background-color: v.$rose-300;
}


@media (max-width: 1200px) {
    main {
    padding-inline-start: 2rem;
        
    }
}