@font-face {
    font-family: "Red Hat Bold";
    src: url(/assets/fonts/static/RedHatText-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Red Hat Regular";
    src: url(/assets/fonts/static/RedHatText-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Red Hat Semibold";
    src: url(/assets/fonts/static/RedHatText-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Red Hat Italic";
    src: url(/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Red Hat Var";
    src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf) format("truetype");
}
